nav {
   background-color: rgb(72, 69, 69);
   padding: 10px 20px ;

}
nav,ul {
    list-style: none;
    display: flex;
    padding:0;
    gap: 30px;
    margin: 0;
}
nav,ul,li,a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 18px;
    padding: 5px 8px;  
}