nav {
   background-color: rgba(194, 185, 185, 0.119);
   padding: 10px 20px ;

}
nav,ul {
    list-style: none;
    display: flex;
    padding:0;
    gap: 30px;
    margin: 0;
}
nav,ul,li,a {
    text-decoration: none;
    color: rgb(29, 28, 28);
    font-size: 18px;
    padding: 5px 8px;  
}