@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", sans-serif; */

* {
    margin: 0px;
    padding: 0px;
}

#hero {

    background: linear-gradient(0deg,
            rgba(9.2, 8.93, 8.93, 1),
            rgba(16, 16, 16, 0) 100%), url(assets/hero-bg.png);
    height: 919px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

#hero .hero-content {
    width: 685px;
}
#hero .hero-content .subtitle {
    opacity: 0.8;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 10px;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;

}

#hero .hero-content .title {
    color: rgba(255, 255, 255, 1);
    font-family: Work Sans;
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 14px;
}

#hero .hero-content .describtion {
    opacity: 0.7;
    color: rgba(255, 255, 255, 1);
    font-family: Work Sans;
    font-size: 10px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 20px;
}

.btn {
    padding: 14px 18px 14px 18px;
    color: rgba(255, 255, 255, 1);
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    background: rgba(82, 195, 3, 1);
    border: none;
    cursor: pointer;

}

.btn-container {
    text-align: center;
    display: block;
    font-family: Work Sans;
}

#card-box {
    width: 884px;
    margin: 100px auto;
}

#card-box .title {
    color: rgba(16, 16, 16, 1);

    font-family: Work Sans;
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
}

#card-box .subtitle {
    color: rgba(16, 16, 16, 1);

    font-family: Work Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.6;

}

.card-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.card {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.card .image-box {
    width: 250px;
}

.card .image-box img {
    width: 100%;
}

.card .shop {
    padding: 10px 18px 10px 18px;
    background-color: rgba(82, 195, 3, 0.15)
}

.about-container {
    max-width: 80%;
    margin: 80px auto;
    display: flex;

    justify-content: space-around;
    background: rgba(255, 255, 255, 1);

}

.about-container.about-image {
    width: 960px;

}

.about-text {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about-text .title {
    color: rgba(16, 16, 16, 1);

    font-family: Work Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0%;
    text-align: center;
}

.about-text .describtion {
    opacity: 0.6;
    text-align: center;
    font-family: Work Sans;
    font-size: 15px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    margin-bottom: 20px;



}

.a-btn {
    cursor: pointer;
    padding: 20px 6px 20px 6px;
    gap: 10;
    opacity: 0.7;
    font-family: Work Sans;
    font-size: 21px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(16, 16, 16, 1);
    border: none;
    border-bottom: undefinedpx solid rgba(16, 16, 16, 0.2);
    border-top: undefinedpx solid rgba(16, 16, 16, 0.2);

}

.social-content {
    max-width: 80%;

    background-image: url(assets/social-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-content .social-text {
    color: rgba(16, 16, 16, 1);

    font-family: Work Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 10px;
}

.social-content .social-para {
    opacity: 0.6;
    color: rgba(16, 16, 16, 1);

    font-family: Work Sans;
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
}